/*FICHA SERIE*/

.ficha {
    width:100%;
    height: 775px;
    position: absolute;
}

.ficha .imagenFicha{
    position: absolute;
    width:100%;
    height: 775px;
    opacity: none;
    }
.atrasSerie{
    width: 55px;
    height: 75px;
    position: absolute;
    top: 7%;
}
.infoSerie{
position: absolute;
width: 381px;
height: 450px;
left: 60px;
top: 100px;
background: rgba(0, 0, 0, 0.70);
}

.calificarRecomendacion{
    position: absolute;
    width: 381px;
    height: 100px;
    left: 60px;
    top: 555px;
    background: rgba(0, 0, 0, 0.7);
}

.pregunta{
    width: 381px;
    position: absolute;
width: 288px;
height: 51px;
left: 46px;
top: 5px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;
text-align: center;

color: #FFFFFF;
}
.tituloInfoSerie{
position: absolute;
width: 310px;
height: 57px;
left: 29px;
top: 20px;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #FFFFFF;
}

.estrellitas{
    display: inline-block;
}

.estrella1, .estrella2, .estrella3, .estrella4, .estrella5{
position: absolute;
width: 19px;
height: 19px;
top: 16%;
}
.estrella1{
left: 120px;
}
.estrella2{
left: 140px;
}
.estrella3{
left: 160px;
}
.estrella4{
left: 180px;
}
.estrella5{
left: 200px;
}

.anioSerie{
top:110px;
}

.apto{
position: absolute;
width: 32px;
height: 24px;
left: 130px;
top: 113px;
background: rgba(0, 0, 0, 0.5);
border: 1px solid #FFFFFF;
box-sizing: border-box;
}

.apto .edad{
    position: absolute;
    width: 36px;
    height: 25px;
    top: -2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}

.temporadas{
 position: absolute;
width: 154px;
height: 22px;
left: 184px;
top: 113px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 600;
font-size: 18px;
line-height: 23px;

color: #FFFFFF;
}

.textoSerie{
width: 350px;
height:200px;
left: 12px;
top: 145px;
}

.estrella6{
    position: absolute;
    width: 42px;
    height: 42px;
    left: 111px;
    top: 380px;
}
.listaFicha{
position: absolute;
width: 84px;
height: 31px;
left: 219px;
top: 392px;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 23px;

color: #FFFFFF;
}
.iconoListaFicha{
    position: absolute;
    width: 49px;
    height: 49px;
    left: 43.04%;
    right: 43.57%;
    top: 378px;
    bottom: 3.23%;
}

.like, .dislike{
position: absolute;
width: 34px;
height: 34px;
}

.like{
left: 156px;
top: 56px;
}
.dislike{
    left: 195px;
top: 56px;
}
.botonReproducirSinAccionFicha{
    top: 580px;
}

.botonReproducirSinAccionFicha  .textoBoton{
    position: absolute;
    left: -9%;
    top: 10%; 
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    
    color: #000000;
    }

.footerFicha{
    top:107%;
}


/**/
.contenedor{
position: relative;
width: 100%;
height: 100%;

}
.imagenFondo{
position: absolute;
width: 100%;
height: 2170px;
background-repeat: no-repeat;
z-index : -1;
}


.estreno {
    width:100%;
    height: 675px;
    position: absolute;
}

.estreno .imagenEstreno{
position: absolute;
width:100%;
height: 675px;
opacity: none;
}

.fondo{
position: absolute;
width: 100%;
left: -0.07%;
right: -0.28%;
top: 7.43%;
bottom: 0%;

opacity: 0.5;
filter: blur(20px);
}

.contenedorInfo{
width: 400px;
height: 460px;
position: relative;
left: 1.8%;
top: 10%;
bottom: 0%;

background: rgba(0, 0, 0, 0.70);
}

.info{
position: relative;
width: 400px;
height: 540px;
}

.tituloEstreno{
    position: absolute;
    width: 400px;
    height: 28px;
    left: 12px;
    top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: #FFFFFF;
    }
    
.tituloInfo{
position: absolute;
width: 400px;
height: 92px;
top: 90px;
text-align: center;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bolder;
text-align: center;
font-size: 24px;
line-height: 35px;
color: #FFFFFF;
}

.anio{
    top: 170px;
}
.anio, .anioSerie{
    position: absolute;
    width: 130px;
    height: 28px;
    left: 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    line-height: 28px;
    
    color: #FFFFFF;
}
    
    .duracion{
    position: absolute;
    width: 95px;
    height: 23px;
    left: 190px;
    top: 173px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    
    color: #FFFFFF;
    }
    .texto, .textoSerie{
        position: absolute;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: 28px;
        font-size: 18px;
        text-align: center;
        color: #FFFFFF;

}
.texto{
    width: 400px;
    height: 289px;
    top: 220px;
}

.iconoLista{
position: absolute;
width: 64px;
height: 65px;
left: 23%;
right: 53.09%;
top: 54%;
}

.lista{
position: absolute;
width: 120px;
height: 31px;
left: 100px;
top: 57%;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 28px;

color: #FFFFFF;
}

.iconoInfoEstreno{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 60%;
    right: 13.59%;
    top: 62.5%;
}

.informacion{
position: absolute;
width: 120px;
height: 31px;
left: 225px;
top: 57%;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 28px;

color: #FFFFFF;
}
.botonReproducirSinAccion, .botonReproducirSinAccionFicha{
position: absolute;
width: 187px;
height: 40px;
left: 1064px;
background: rgba(117, 77, 202, 0.75);
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.3);
border-radius: 50px;
}

.botonReproducirSinAccion{
    top: 450px;
}

.textoBoton{
    position: absolute;
    left: 82.54%;
    right: 5.46%;
    top: 28.53%;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    
    color: #000000;  
}
.botonReproducirSinAccion  .textoBoton{
    position: absolute;
    left: -9%;
    top: 10%; 
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    
    color: #000000;
    }

.playBoton{
    position: absolute;
    width: 19px;
    height: 19px;
    left: 78%;
    top: 28.53%;    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    
    color: #000000;
}

.contenido{
    position: relative;
    width: 100%;
    height: 1495px;
    left: -0.07%;
    right: -0.28%;
    top: 102.7%;
    background: rgba(0, 0, 0, 0.80);
}
.tituloTendencias, .tituloContinuarViendo, .tituloSugerencias{
    width: 1235px;
    height: 48px;

    position: absolute;
    left: 52px;
    top: 65px;
    background: rgba(0, 0, 0, 0.60);
}
.tituloContinuarViendo{
    top: 332px;
}

.tituloSugerencias{
    top: 1130px;
}

.tendencias, .continuar, .sugerencias{
position: absolute;
left: 24px;
top: 7px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 500;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;

color: #FFFFFF;
}

.contenidos{
    display: flex;
    position: relative;
    width: 1235px;
    height: 155px;
    top: 63px;
}

.animales, .stranger, .friends, .breaking, .vikings, .peaky, .greys, .perrito, .chicas, .vis, .laReina, .laCasa{
    position: relative;
    display: inline-block;
    width: 280;
    height: 155px;
}

.animales, .vikings, .chicas{
    left: 30px;
}

.stranger, .peaky, .vis{
    left: 46px;
}

.friends, .greys, .laReina{
    left: 62px;
}

.breaking, .perrito, .laCasa{
    left: 88px;
}

.fotoPequeña{
    width: 280;
    height: 155px;
}
.iconoNext{
    position: absolute;
    width: 42px;
    height: 42px;
    top: 30%;
    left: 100%;
}
.iconoInfo{
    position: absolute;
    width: 29px;
    height: 29px;
    left: 87%;
    right: 13.59%;
    top: 77.42%;
}

.promocion{
    width: 1120px;
    height: 483px;
    left: 112px;
    position: absolute;
    background: rgba(78, 78, 78, 0.3);
    top: 599px;
}

.promocion p{
    position: absolute;
width: 1120px;
height: 117px;

top: 23px;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 35px;
text-align: center;

color: #FFFFFF;
}

.pedidos{
position: absolute;
width: 321px;
height: 147px;
left: 230px;
top: 210px;
}

.codigo{
    position: absolute;
    width: 225px;
    height: 225px;
    left: 630px;
    top: 171px;
}

/******************FOOTER******************/
footer{
position: absolute;
width: 100%;
height: 71px;
background-color: #000000;
opacity: 0.7;
top: 320%;
}

.fb, .insta, .tw{
    position: absolute;
    width: 30px;
    height: 36px;
    top: 25%;
}
.fb{
    left: 2.08%;
}
.insta{
    left: 75px;
}
.tw{
    left: 121px;
}

footer p{
position: absolute;
left: 186px;
top: 27%;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 900;
font-size: 16px;
color: #474343;

}

.contacto{
   left:22%;
}

.ayuda{
    left:31.5%;
}

/******************NAVGEGADOR******************/
nav{
position: relative;
width: 100%;
height: 50px;
box-shadow: 5px 5px 25px rgba(117, 77, 202, 1.50);
background-color: #000000;
opacity: 0.7;
}

.user{
position: absolute;
width: 30px;
height: 30px;
left: 1290px;
top: 12px;
}

.notif{
position: absolute;
width: 32px;
height: 32px;
left: 1300px;
right: 8.33%;
top: 11px;
left: 91.19%;
bottom: 19%;
}

.inicio{
position: absolute;
width: 217px;
height: 56px;
left: 19px;
top: 11px;
}

.netflics{
position: absolute;
left: 2%;
right: 5.53%;
top: -20%;
font-weight: bolder;
font-size: 36px;
line-height: 70px;
/* identical to box height */
color: #FFFFFF;
mix-blend-mode: lighten;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.peliculas{
position: absolute;
left: 23%;
right: 5.53%;
top: 10%;
bottom: -0.65%;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 47px;

color: #FFFFFF;
}

.series{
    position: absolute;
    left: 34%; 
    right: 10.73%;
    top: 10.3%;
    bottom: -0.65%;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 47px;
    
    color: #FFFFFF;
}

.miLista{
    position: absolute;
    left: 44%;
    right: 11.85%;
    top: 34%;
    bottom: -0.65%;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
    
    color: #FFFFFF;
}

.buscador{
position: absolute;
bottom: 0%;
width: 300px;
height: 30px;
left: 830px;
top: 25%;
background: rgba(145, 118, 201, 2.5);
border-radius: 150px;
}

.iconoBuscar{
position: absolute;
width: 28px;
height: 28px;
left: 4.18%;
right: 89.1%;
top: 16.31%;
bottom: 18.43%;
border-radius: 150px;
}


/*FICHA DE PELI*/



   