/************************* CONTINUAR VIENDO SERIE *************************/
.view {
    width:100%;
    height: 657px;
    position: absolute;
}
.view .imagenContinuarViendo{
    width:100%;
    height: 657px;
}

.view .atrasSerie{
    top: 25px;
    left: 10px;
}

.view .barraReproduccion{
    position:absolute;
    top: 91.6%;
    width: 100%;
    height: 55px;
    background: rgba(196, 196, 196, 0.3);
}

.view .playContinuarViendo{
    position: absolute;
    width: 30px;
    height: 33px;
    left: 25px;
    top: 10px;
}

.volumen{
    position: absolute;
    width: 35px;
    height: 35px;
left: 80px;
top: 10px;
}
    
.view .infoCapitulo{
    position: absolute;
    width: 300px;
    height: 27px;
    left: 73%;
    top: 12px;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    
    color: #FFFFFF;
}

.expand{
    position: absolute;
width: 50px;
height: 43px;
left: 94.5%;
top: 7px;
}
    
/************************* FICHA SERIE *************************/

.ficha {
    width:100%;
    height: 775px;
    position: absolute;
}

.ficha .imagenFicha{
    position: absolute;
    width:100%;
    height: 775px;
    opacity: none;
}
.atrasFicha{
    top: 7%;
}
.infoSerie{
position: absolute;
width: 381px;
height: 450px;
left: 60px;
top: 100px;
background: rgba(0, 0, 0, 0.70);
}

.calificarRecomendacion{
    position: absolute;
    width: 381px;
    height: 100px;
    left: 60px;
    top: 555px;
    background: rgba(0, 0, 0, 0.7);
}

.pregunta{
    width: 381px;
    position: absolute;
width: 288px;
height: 51px;
left: 46px;
top: 5px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;
text-align: center;

color: #FFFFFF;
}
.tituloInfoSerie{
position: absolute;
width: 310px;
height: 57px;
left: 29px;
top: 20px;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #FFFFFF;
}

.estrellitas{
    display: inline-block;
}

.estrella1, .estrella2, .estrella3, .estrella4, .estrella5{
position: absolute;
width: 19px;
height: 19px;
top: 16%;
}
.estrella1{
left: 120px;
}
.estrella2{
left: 140px;
}
.estrella3{
left: 160px;
}
.estrella4{
left: 180px;
}
.estrella5{
left: 200px;
}

.anioSerie{
top:110px;
}

.apto{
position: absolute;
width: 32px;
height: 24px;
left: 130px;
top: 113px;
background: rgba(0, 0, 0, 0.5);
border: 1px solid #FFFFFF;
box-sizing: border-box;
}

.apto .edad{
    position: absolute;
    width: 36px;
    height: 25px;
    top: -2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}

.temporadas{
 position: absolute;
width: 154px;
height: 22px;
left: 184px;
top: 113px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 600;
font-size: 18px;
line-height: 23px;

color: #FFFFFF;
}

.textoSerie{
width: 350px;
height:200px;
left: 12px;
top: 145px;
}

.estrella6{
    position: absolute;
    width: 42px;
    height: 42px;
    left: 111px;
    top: 380px;
}
.listaFicha{
position: absolute;
width: 84px;
height: 31px;
left: 219px;
top: 392px;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 23px;

color: #FFFFFF;
}
.iconoListaFicha{
    position: absolute;
    width: 49px;
    height: 49px;
    left: 43.04%;
    right: 43.57%;
    top: 378px;
    bottom: 3.23%;
}

.like, .dislike{
position: absolute;
width: 34px;
height: 34px;
}

.like{
left: 156px;
top: 56px;
}
.dislike{
    left: 195px;
top: 56px;
}
.botonReproducirSinAccionFicha{
    top: 580px;
}

.botonReproducirSinAccionFicha  .textoBoton{
    position: absolute;
    left: -9%;
    top: 10%; 
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    
    color: #000000;
    }

.footerFicha{
    top:107%;
}
/************************* PLAN - PASO 1  *************************/
.contenedorPasos{
    background: #000000;
    opacity: 0.5;
    box-shadow: 10px 15px 25px rgba(188, 188, 188, 0.5);
}

.contenedorPasos, .contenidoPasos{
    position: absolute;
    width: 100%;
    height: 580px;   
    top: 7%;
}

.atrasPasos{
    top: 1%;
}

.pasos{
position: absolute;
left: 85%;
top: 5%;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 30px;
text-transform: uppercase;

color: #9F67CA;
}

.tituloPaso{
position: absolute;
widows: 100%;
left: 0%;
right: 0%;
top: 12%;
bottom: 75.86%;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.planes{
    display: flex;
    position: absolute;
    top: 25%;
    width: 100%;
    height: 350px;
}

.plan1, .plan2, .plan3, .plan4{
position: absolute;
display: inline-block;
width: 290px;
height: 350px;
background: #FFFFFF;
border: 2px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
}

.plan1Elegido, .plan2Elegido, .plan3Elegido, .plan4Elegido{
position: absolute;
display: inline-block;
width: 290px;
height: 350px;
background: #FFFFFF;
border: 4px solid #741FB8;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
}

.plan1, .plan1Elegido{
    left: 60px;
}
.plan2, .plan2Elegido{
    left: 370px;
}
.plan3, .plan3Elegido{
    left: 680px;
}
.plan4, .plan4Elegido{
    left: 990px;
}

.planes .linea{
    position: absolute;
    width: 288px;
    left: -1px;
    top: 46px;
}

.tipoPlan{
    position: absolute;
    width: 288px;
    height: 42px;
    top: 10px;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    
    color: #741FB8;
}

.infoPlan{
position: absolute;
width: 261px;
height: 204px;
left: 12px;
top: 18%;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
color: #000000;
text-transform: uppercase;

border-radius: 25px;
}

.iconoX1, .iconoX2, .iconoV1, .iconoV2,.iconoV3,.iconoV4,.iconoV5{
position: absolute;
width: 30px;
height: 30px;
right: -10px;
}

.iconoV4{
    top:105px;
}

.iconoV5{
    top:160px;
}
.precioPlan{
    position: absolute;
width: 69px;
height: 35px;
left: 104px;
top: 275px;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
text-transform: uppercase;
color: #741FB8;
}

.contenidoPasos .boton{
  width: 200px;
  left: 79.24%;
  right: 5.07%;
  top: 90%;
}
.contenidoPasos .boton .contenidoBoton{
    width: 200px;
  }

/************************* REGISTRARSE - PASO 2 *************************/
.contenidoPasos .elegirAvatar,.contenidoPasos .inputCorreo,.contenidoPasos .inputContraseña, .contenidoPasos .inputConfirmarC, .contenidoPasos .correo, .contenidoPasos .contraseña, .contenidoPasos .confirmarC{
    left: 28.08%;
    right: 49%;
    bottom: 65.57%;
}

.contenidoPasos .correo{
top: 28%;
}
.contenidoPasos .contraseña{
    top: 43%;
}
.contenidoPasos .confirmarC{
    top: 57%;
}

.contenidoPasos .elegirAvatar{
    top: 71%;
}

.contenidoPasos .inputCorreo,.contenidoPasos .inputContraseña,.contenidoPasos .inputConfirmarC{
    width: 540px;
}
.contenidoPasos .inputCorreo{
    top: 33.5%;
}

.contenidoPasos .inputContraseña{
    top: 48%;
}

.contenidoPasos .inputConfirmarC{
    top: 62.71%;
}

.avatars{
    position: absolute;
    width: 500px;
    height: 72px;
    border: 2px solid black;
    top: 80%;
    left:29%;
}
/************************* FORMA DE PAGO PASO - 3  *************************/
.contenidoPasos .inputNombre,.contenidoPasos .inputApellido, .contenidoPasos .inputNumTarjeta, .contenidoPasos .inputCodTarjeta, .contenidoPasos .inputFechaTarjeta, .contenidoPasos .nombreT,.contenidoPasos .apellido,.contenidoPasos  .numTarjeta,  .contenidoPasos .fechaTarjeta, .contenidoPasos .codTarjeta{
    position: absolute;
    left: 30.08%;
    right: 49%;
    bottom: 65.57%;
}

.contenidoPasos .nombreT,.contenidoPasos .apellido,.contenidoPasos  .numTarjeta,  .contenidoPasos .fechaTarjeta, .contenidoPasos .codTarjeta{
    position: absolute;
    left: 33%;
    right: 49%;
    bottom: 65.57%;
}
.contenidoPasos .personita, .contenidoPasos .personita2, .contenidoPasos .iconoTarjeta, .contenidoPasos .iconoFecha,.contenidoPasos .iconoTarjeta2{
    position: absolute;
    right: 49%;
    bottom: 65.57%;
    left: 31%;
}    

.contenidoPasos .personita{
    top: 23.5%;
}
.contenidoPasos .nombreT{
    top: 23%;
}
.contenidoPasos .personita2{
    top: 36.5%;
}  
.contenidoPasos .apellido{
        top: 36%;
}
.contenidoPasos .iconoTarjeta{
    top: 49.5%;
}  
.contenidoPasos .numTarjeta{
    top: 49%;
}

.contenidoPasos .iconoFecha{
    top: 62.5%;
} 
.contenidoPasos .fechaTarjeta{
    top: 62%;
}

.contenidoPasos .iconoTarjeta2{
    top: 75.5%;
} 
.contenidoPasos .codTarjeta{
    top: 75%;
}

.contenidoPasos .inputNombre,.contenidoPasos .inputApellido, .contenidoPasos .inputNumTarjeta, .contenidoPasos .inputCodTarjeta, .contenidoPasos .inputFechaTarjeta{
    width:502px;
}

.contenidoPasos .inputNombre{
    top: 28%;
}

.contenidoPasos .inputApellido{
    top: 41%;
}

.contenidoPasos .inputNumTarjeta{
    top: 53.71%;
}
.contenidoPasos .inputCodTarjeta{
    top: 67.5%;
}

.contenidoPasos .inputFechaTarjeta{
    top: 80.57%;
}
 
.planElegido .plan4{
position: absolute;
left: 72%;
right: 14.54%;
top: 21.71%;
bottom: 27.71%;
width: 290px;
height: 322px;
background: #FFFFFF;
border: 4px solid #741FB8;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
}

.planElegido .linea{
    top: 15%;
    width: 290px;
    left: -1;
}

.cambiarPlan{
position: absolute;
left: 80%;
right: 20.31%;
top: 80%;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;
text-decoration-line: underline;
text-transform: uppercase;
font-feature-settings: 'pnum' on, 'onum' on;

color: #FFFFFF;
}
/************************* LOGIN *************************/
.contenedorLogin, .contenedorLogin .imagenFondo, .contenedorPlan, .contenedorPlan .imagenFondo{
    position: absolute;
    width: 100%;
    height: 657px;    
    background-repeat: no-repeat;
    z-index : -1;
    background: #000000;    
}
.imagenFondo{
    opacity: 0.7;
    filter: blur(3px);
}
.tituloLogin{

    position: absolute;
    width: 100%;
    top: 4.57%;
    bottom: 83.43%;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    text-align: center;
    font-feature-settings: 'kern' off, 'liga' off;
    color: #FFFFFF;
    mix-blend-mode: screen;
}
.contenidoLogin{
    position: absolute;
    width: 474px;
    height: 434px;
    left: 31.88%;
    right: 31.62%;
    top: 20.11%;
    bottom: 17.84%;
    background: rgba(0, 0, 0, 0.7);
}


.contenidoLogin .correo{
    top: 90px;
}

.contenidoLogin .inputCorreo{
    top: 29%;
}
.contenidoLogin .contraseña{
    top: 180px;
}

.contenidoLogin .inputContraseña{
    top: 49%; 
}

.boton{
position: absolute;
width: 240px;
height: 46px;
left: 22%;
right: 39.87%;
top: 65%;
background: #754DCA;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.3);
border-radius: 100px;
}

.contenidoBoton{
position: relative;
width: 240px;
top: 15%;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
text-align: center;
color: #FFFFFF;
}

.preguntaSupscripcion{
position: absolute;
top: 81.5%;
width: 178px;
height: 26px;
left: 50px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
color: #D2D1D1;
}

.linkSubscripcion{
    position: absolute;
    width: 187px;
    height: 25px;
    left: 50.54%;
    right: 35.08%;
    top: 81.5%;
    bottom: 23.71%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration-line: underline;
    color: #D2D1D1;    
}

/************************* MI CUENTA *************************/
.contenidoCuenta{
    position: absolute;
    width: 1300px;
    height: 560px;  
    left: 2%;
    right: 31.62%;
    top: 12%;
    bottom: 17.84%;
    background: rgba(0, 0, 0, 0.7);
}
.atrasCuenta{
    top: 3%;
}

.perfilCuenta, .configuracionCuenta{
position: absolute;
width: 150px;
height: 30px;
left: 149px;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 30px;

color: #FFFFFF;
}

.perfilCuenta{
top: 50px;
}
.configuracionCuenta{
top: 305px;

}

.contenidoCuenta p{
position: absolute;
width: 400px;
height: 21px;
left: 188px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}

.actCuenta{
    top: 110px;
}

.cambiarContraCuenta{
    top: 145px;
}

.cambiarPlanCuenta{
    top: 180px;
}

.cerrarSesionCuenta{
    top: 218px;
}

.lineaCuenta{
position: absolute;
width: 1100px;
height: 0px;
right: 102px;
top: 280px;
border: 1px solid #741FB8;
}

.idiomaCuenta{
    top: 365px;
}
.confgCuenta{
top: 400px;
}
.preferenciasCuenta{
    top: 435px;

}
.aspectoCuenta{
    top: 470px;

}
/************************* HOME *************************/
.contenedor{
position: relative;
width: 100%;
height: 100%;
}
.imagenFondo{
position: absolute;
width: 100%;
height: 2170px;
background-repeat: no-repeat;
z-index : -1;
}

.contenido{
    position: relative;
    width: 100%;
    height: 1497px;
    left: -0.07%;
    right: -0.28%;
    top: 102.75%;
    background: rgba(0, 0, 0, 0.80);
}

.estreno {
    width:100%;
    height: 675px;
    position: absolute;
}

.estreno .imagenEstreno{
position: absolute;
width:100%;
height: 675px;
opacity: none;
}

.fondo{
position: absolute;
width: 100%;
left: -0.07%;
right: -0.28%;
top: 7.43%;
bottom: 0%;

opacity: 0.5;
filter: blur(20px);
}

.contenedorInfo{
width: 400px;
height: 460px;
position: relative;
left: 1.8%;
top: 10%;
bottom: 0%;

background: rgba(0, 0, 0, 0.70);
}

.info{
position: relative;
width: 400px;
height: 540px;
}

.tituloEstreno{
    position: absolute;
    width: 400px;
    height: 28px;
    left: 12px;
    top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: #FFFFFF;
    }
    
.tituloInfo{
position: absolute;
width: 400px;
height: 92px;
top: 90px;
text-align: center;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bolder;
text-align: center;
font-size: 24px;
line-height: 35px;
color: #FFFFFF;
}

.anio{
    top: 170px;
}
.anio, .anioSerie{
    position: absolute;
    width: 130px;
    height: 28px;
    left: 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    line-height: 28px;
    
    color: #FFFFFF;
}
    
    .duracion{
    position: absolute;
    width: 95px;
    height: 23px;
    left: 190px;
    top: 173px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    
    color: #FFFFFF;
    }
    .texto, .textoSerie{
        position: absolute;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: 28px;
        font-size: 18px;
        text-align: center;
        color: #FFFFFF;

}
.texto{
    width: 400px;
    height: 289px;
    top: 220px;
}

.iconoLista{
position: absolute;
width: 64px;
height: 65px;
left: 23%;
right: 53.09%;
top: 54%;
}

.lista{
position: absolute;
width: 120px;
height: 31px;
left: 100px;
top: 57%;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 28px;

color: #FFFFFF;
}

.iconoInfoEstreno{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 60%;
    right: 13.59%;
    top: 62.5%;
}

.informacion{
position: absolute;
width: 120px;
height: 31px;
left: 225px;
top: 57%;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 28px;

color: #FFFFFF;
}
.botonReproducirSinAccion, .botonReproducirSinAccionFicha{
position: absolute;
width: 187px;
height: 40px;
left: 1064px;
background: rgba(117, 77, 202, 0.75);
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.3);
border-radius: 50px;
}

.botonReproducirSinAccion{
    top: 450px;
}

.textoBoton{
    position: absolute;
    left: 82.54%;
    right: 5.46%;
    top: 28.53%;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    
    color: #000000;  
}
.botonReproducirSinAccion  .textoBoton{
    position: absolute;
    left: -9%;
    top: 10%; 
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    
    color: #000000;
    }

.playBoton{
    position: absolute;
    width: 19px;
    height: 19px;
    left: 78%;
    top: 28.53%;    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    
    color: #000000;
}


.tituloTendencias, .tituloContinuarViendo, .tituloSugerencias{
    width: 1235px;
    height: 48px;

    position: absolute;
    left: 52px;
    top: 65px;
    background: rgba(0, 0, 0, 0.60);
}
.tituloContinuarViendo{
    top: 332px;
}

.tituloSugerencias{
    top: 1130px;
}

.tendencias, .continuar, .sugerencias{
position: absolute;
left: 24px;
top: 7px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 500;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;

color: #FFFFFF;
}

.contenidos{
    display: flex;
    position: relative;
    width: 1235px;
    height: 155px;
    top: 63px;
}

.animales, .stranger, .friends, .breaking, .vikings, .vikingsHover, .peaky, .greys, .perrito, .chicas, .vis, .laReina, .laCasa{
    position: relative;
    display: inline-block;
    width: 280;
    height: 155px;
}

.animales, .vikings, .chicas{
    left: 30px;
}

.stranger, .peaky, .vis{
    left: 46px;
}

.friends, .greys, .laReina{
    left: 62px;
}

.breaking, .perrito, .laCasa{
    left: 88px;
}

.fotoPequeña{
    width: 280;
    height: 155px;
}
.iconoNext{
    position: absolute;
    width: 42px;
    height: 42px;
    top: 30%;
    left: 100%;
}
.iconoInfo{
    position: absolute;
    width: 29px;
    height: 29px;
    left: 87%;
    right: 13.59%;
    top: 77.42%;
}

.vikingsHover{
    position: relative;
    top: -155px;
}

.tituloSerieHover{
    position: absolute;
    width: 280;
    height: 38px;
    top: 55px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}
.barraReproduccion{
    width: 280;
    height: 19px;
    position: absolute;
    top: 137px;
    background: rgba(196, 196, 196, 0.3);
}

.playContinuarViendo{
position: absolute;
width: 13px;
height: 12px;
left: 8px;
top: 3px;
}

.infoCapitulo{
position: absolute;
width: 101px;
height: 15px;
left: 177px;
top: 3px;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
font-size: 10px;
line-height: 12px;
text-align: center;
color: #FFFFFF;
}

.promocion{
    width: 1120px;
    height: 483px;
    left: 112px;
    position: absolute;
    background: rgba(78, 78, 78, 0.3);
    top: 599px;
}

.promocion p{
    position: absolute;
width: 1120px;
height: 117px;

top: 23px;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 35px;
text-align: center;

color: #FFFFFF;
}

.pedidos{
position: absolute;
width: 321px;
height: 147px;
left: 230px;
top: 210px;
}

.codigo{
    position: absolute;
    width: 225px;
    height: 225px;
    left: 630px;
    top: 171px;
}

/******************FOOTER******************/
footer{
position: absolute;
width: 100%;
height: 71px;
background-color: #000000;
opacity: 0.7;
top: 320%;
}

.fb, .insta, .tw{
    position: absolute;
    width: 30px;
    height: 36px;
    top: 25%;
}
.fb{
    left: 2.08%;
}
.insta{
    left: 75px;
}
.tw{
    left: 121px;
}

footer p{
position: absolute;
left: 186px;
top: 27%;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 900;
font-size: 16px;
color: #474343;

}

.contacto{
   left:22%;
}

.ayuda{
    left:31.5%;
}

/******************NAVGEGADOR******************/
nav{
position: relative;
width: 100%;
height: 50px;
box-shadow: 5px 5px 25px rgba(117, 77, 202, 1.50);
background-color: #000000;
opacity: 0.7;
}

.user{
position: absolute;
width: 30px;
height: 30px;
left: 1290px;
top: 12px;
}

.notif{
position: absolute;
width: 32px;
height: 32px;
left: 1300px;
right: 8.33%;
top: 11px;
left: 91.19%;
bottom: 19%;
}

.inicio{
position: absolute;
width: 217px;
height: 56px;
left: 19px;
top: 11px;
}

.netflics{
position: absolute;
left: 2%;
right: 5.53%;
top: -20%;
font-weight: bolder;
font-size: 36px;
line-height: 70px;
/* identical to box height */
color: #FFFFFF;
mix-blend-mode: lighten;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.peliculas{
position: absolute;
left: 23%;
right: 5.53%;
top: 10%;
bottom: -0.65%;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 47px;

color: #FFFFFF;
}

.series{
    position: absolute;
    left: 34%; 
    right: 10.73%;
    top: 10.3%;
    bottom: -0.65%;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 47px;
    
    color: #FFFFFF;
}

.miLista{
    position: absolute;
    left: 44%;
    right: 11.85%;
    top: 34%;
    bottom: -0.65%;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
    
    color: #FFFFFF;
}

.buscador{
position: absolute;
bottom: 0%;
width: 300px;
height: 30px;
left: 830px;
top: 25%;
background: rgba(145, 118, 201, 2.5);
border-radius: 150px;
}

.iconoBuscar{
position: absolute;
width: 28px;
height: 28px;
left: 4.18%;
right: 89.1%;
top: 16.31%;
bottom: 18.43%;
border-radius: 150px;
}

/********************* NOTIFICACIONES ************************/

.notificaciones{
position: absolute;
width: 422px;
height: 304px;
left: 61.8%;
top: 50px;
background: rgba(117, 77, 202, 0.9);
}

.primerNotificacion, .segundaNotificacion{
position: absolute;
width: 386px;
height: 114px;
left: 17px;
background: #754DCA;
}

.primerNotificacion{
    top: 24px;
}

.titulo{
position: absolute;
width: 186px;
height: 40px;
left: 210px;
top: 10px;
text-align: center;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
font-size: 22px;
line-height: 20px;
-webkit-text-stroke: 1.5px black;
color: #FFFFFF;
}

.primerNotificacion p, .segundaNotificacion p{
position: absolute;
width: 186px;
height: 40px;
top: 42px;
left:200px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight:500;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #000000;
}

.segundaNotificacion p{
    top: 54px;
}
.segundaNotificacion{
    top: 167px;
}
.imagenNotificacion1, .imagenNotificacion2{
position: absolute;
width: 200px;
height: 114px;
}

.linea{
position: absolute;
width: 386px;
height: 0px;
left: 17px;
top: 152px;

border: 1px solid #000000;
}

/********************* MENU USUARIO ************************/

.menuUsuario{
position: absolute;
width: 191px;
height: 218px;
left: 83.8%;
background: rgba(117, 77, 202);
}

.sticker{
position: absolute;
left: 34.55%;
width: 57;
right: 34.55%;
top: 8.26%;
bottom: 65.6%;
border: 1px solid black;
}

.nombre{
position: absolute;
width: 191px;
top: 37.48%;
bottom: 52.36%;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 800;
font-size: 18px;
text-align: center;
color: #FFFFFF;
}

.menuUsuario .nombre, .cuenta, .cambiarC, .centro, .cerrarC {
position: absolute;
bottom: -1.27%;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
}

.nombre{
    left: 1%;
    font-weight: 500;

}

.menuUsuario .linea{
position: absolute;
width: 141.95px;
left: 13.22%;
right: 12.46%;
top: 51.3%;
bottom: 46.7%;
}

.cuenta, .cambiarC, .centro, .cerrarC {
    left:11.86%;
    position: absolute;
    top: 50%;
}

.cuenta:hover, .cambiarC:hover, .centro:hover, .cerrarC:hover, .linkSubscripcion:hover {
   color: white;;
}
.cuenta{
    top: 55%;
}
.cambiarC{
    top: 65%;
}
.centro{
    top: 75%;
}
.cerrarC{
    top: 85%;
}


/************* UNIVERSALES ***************/
.atrasFicha, .atrasPasos, .atrasCuenta{
width: 55px;
height: 75px;
position: absolute;
}

.boton:hover, .netflics:hover{
    color: white;
    text-decoration-line: none;
}

.correo, .contraseña, .confirmarC, .elegirAvatar, .nombreT, .apellido, .numTarjeta, .fechaTarjeta, .codTarjeta{
    position: absolute;
    left: 10%;
    right: 37.03%;
    width: 359px;
    height: 32px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    
    color: #FFFFFF;
}

input{
    position: absolute;
    width: 350px;
    height: 40px;
    left: 10%;
    bottom: 57.66%;
    background: #FDF4F4;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}